html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2 {
    margin: 0;
}

body {
    margin: 0;
}

section {
    background-color: #333;
    width: 100%;
    height: 100dvh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(auto, 1fr); */
    /*gap: .5rem;*/
    justify-content: center;
    justify-items: center;

}

article {
    width: 40vw;
    /* height: 30vh; */
    /* border: thin solid black; */
    /* background-color: palegreen; */

    border-radius: 1rem;
    margin: 1rem;

    position: relative;
    transition: transform 500ms;

    perspective: 10rem;
    transform-style: preserve-3d;

    cursor: pointer;

}

/* article:hover {
    transform: rotateY(180deg);
} */

div {
    border-radius: 14px;
    width: 100%;
    height: 100%;
    
    /* background-color: rgb(255, 154, 188); */
    text-align: center;
    place-content: center;

    position: absolute;
    backface-visibility: hidden;

    border: .5rem solid #fdfdfd;

    font-size: 10vw;
    font-weight: bold;
}

.flip-front {
    background-color: #c1285b;
    transform: rotateY(0deg);
}
.flip-back {
    background-color: #fdfdfd;
    transform: rotateY(180deg);
}

.flip-180 {
    transform: rotateY(180deg);
}

@media screen and (min-width: 1024px) {

    section {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, 1fr);
    }

    article {
        width: 15vw;
    }

    div {
        border-radius: 14px;
        width: 100%;
        height: 100%;

        font-size: 6vw;
        font-weight: bold;

        /* background-color: rgb(255, 154, 188); */
        /* border: medium solid black; */
        /* text-align: center;
        place-content: center;

        position: absolute;

        backface-visibility: hidden; */
    }

    /* .flip-front {
        transform: rotateY(0deg);
    } */

    /* .flip-back {
        transform: rotateY(180deg);
    } */

}